c:\Users\alumnodigitales1\Documents\prueba next\my-app c:\Users\alumnodigitales1\Documents\prueba next\node_modules c:\Users\alumnodigitales1\Documents\prueba next\PruebaNext c:\Users\alumnodigitales1\Documents\prueba next\Prueba-Next c:\Users\alumnodigitales1\Documents\prueba next\package.json c:\Users\alumnodigitales1\Documents\prueba next\package-lock.json# Auto detect text files and perform LF normalization
* text=auto
