.divEnviar {
  display: flex;
  flex-direction: row;  /* Coloca el input y botón en la misma fila */
  align-items: center;  /* Centra verticalmente el contenido */
  justify-content: space-between;  /* Deja espacio entre el input y el botón */
  padding: 10px;
  border-top: 1px solid #ddd;  /* Añade una línea superior similar a WhatsApp */
  background-color: #fff;  /* Fondo blanco para la barra de mensajes */
  position: sticky;
  bottom: 0;  /* Fija la barra en la parte inferior */
  max-width: 100%;
}

.inputMensaje {
  flex: 1;  /* Ocupa todo el espacio disponible */
  padding: 10px;
  border: 1px #ddd;
  border-radius: 20px;  /* Bordes redondeados */
  margin-right: 10px;
  font-size: 16px;
}

.botonEnviar {
  background-color: #25D366;  /* Verde de WhatsApp */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.botonEnviar:hover {
  background-color: #128C7E;  /* Un poco más oscuro al pasar el ratón */
}

