.ownMessage{
  color: #006064;           /* Color del texto */
  padding: 10px;            /* Espaciado interno */
  border-radius: 10px;      /* Bordes redondeados para la burbuja */
  max-width: 80%;           /* Máximo ancho para simular una burbuja */
  word-wrap: break-word;    /* Que el texto se ajuste si es muy largo */
  margin: 10px;            /* Espacio entre mensajes */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Pequeña sombra para dar relieve */
  background-color: #e0f7fa;
}

.otherMessage{
  color: #006064;           /* Color del texto */
  padding: 10px;            /* Espaciado interno */
  border-radius: 10px;      /* Bordes redondeados para la burbuja */
  max-width: 80%;           /* Máximo ancho para simular una burbuja */
  word-wrap: break-word;    /* Que el texto se ajuste si es muy largo */
  margin: 5px 10px;            /* Espacio entre mensajes */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Pequeña sombra para dar relieve */
  background-color: #ffffff;
}